client/go.mod
client/go.sum
client/vendor/*

server/go.mod
server/go.sum
server/vendor/*
server/main

mgt/go.mod
mgt/go.sum
mgt/vendor/*

mq/go.mod
mq/go.sum
mq/vendor/*

test/rabbit-test/go.mod
test/rabbit-test/go.sum
test/rabbit-test/vendor/*

test/kafka-test/go.mod
test/kafka-test/go.sum
test/kafka-test/vendor/*

test/grpc-test/go.mod
test/grpc-test/go.sum
test/grpc-test/vendor/*

test/http2-test/go.mod
test/http2-test/go.sum
test/http2-test/vendor/*

test/proto-bench/go.mod
test/proto-bench/go.sum
test/proto-bench/vendor/*
